<div class="wikidoc"><b>Project Description</b><br />Developer can add one line of code for display video from webcam and capture image from webcam. It provide dialog for resolution setting and advance setting &#40;Flip,Rotate, Brightness etc.&#41; by adding one line of code.<br />
<h2>WPF UI Example</h2><img src="http://lh5.ggpht.com/_S-lUyWl3jrU/SyJIwQphuVI/AAAAAAAACz4/dPgigYm4UHo/4.png" /><br /><br />
<h2>Sample Code for Display Video from WebCam</h2>
<b>WPF with C#</b><br /><br /><pre>            WebCam  webcam = new WebCam();
            //passing Image Control Element
            webcam.InitializeWebCam(ref imgVideo);
            
            //start webcam video playing
            webcam.start();

            //stop or pause video playing
            webcam.stop();

            //continue playing after stop state
            webcam.continue();
</pre><br /><br /><b>C# for Show Resolution Setting and Video Format Dialog</b><br /><br /><pre>
           webcam.config();
</pre><br /><br /><b>C# for Show Advance Setting Dialog</b><br /><br /><pre>
           webcam.config2();
</pre><br /><br /><br /><br /><br /><br /><b>You can see more full example and download library at below</b><br /><br />WinForm with VB.NET for show video from webcam and image capturing.<br />&gt;&gt; <a href="http://sites.google.com/site/webcamlibrarydotnet/winform-with-vb-net-for-show-video-from-webcam-and-image-capturing">http://sites.google.com/site/webcamlibrarydotnet/winform-with-vb-net-for-show-video-from-webcam-and-image-capturing</a><br /><br />WPF with VB.NET for show video from webcam and image capturing.<br />&gt;&gt; <a href="http://sites.google.com/site/webcamlibrarydotnet/wpf-with-vb-net-for-show-video-from-webcam-and-image-capturing">http://sites.google.com/site/webcamlibrarydotnet/wpf-with-vb-net-for-show-video-from-webcam-and-image-capturing</a><br /><br />WinForm with C# for show video from webcam and image capturing.<br />&gt;&gt; <a href="http://sites.google.com/site/webcamlibrarydotnet/winfrom-and-csharp-sample-code-and-download">http://sites.google.com/site/webcamlibrarydotnet/winfrom-and-csharp-sample-code-and-download</a><br /><br />WPF with C# for show video from webcam and image capturing.<br />&gt;&gt; <a href="http://sites.google.com/site/webcamlibrarydotnet/wpf-and-csharp-sample-code-and-download">http://sites.google.com/site/webcamlibrarydotnet/wpf-and-csharp-sample-code-and-download</a><br />            <br />            </div><div class="ClearBoth"></div>